<div class="login-wraper">
    <div class="mt-8 max-w-xl mx-auto flex flex-wrap justify-center items-start font-sans antialiased">
        <section class="mb-8 lg:ml-8 bg-white p-6 rounded shadow-md" style="width: 45rem;">
            <div class="mb-1 leading-normal">
                
                <div class="m-0 my-8 w-100 text-center">
                    <div class="block-text mb-1">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="1" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="2" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="3" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="4" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="5" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="6" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="7" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="8" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="9" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="10" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="11" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="12" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="13" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="14" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="15" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="16" disabled>
                    </div>

                    <div class="block-pass">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue focus:bg-white bg-grey-light  trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="text" style="resize:horizontal; width:35px" autocomplete="off">
                    </div>
                </div>

            </div>
            <div class="m-0 w-100 text-center">
                <button class="noa_app m-0 p-3 text-sm font-semibold border-grey-light rounded text-blue-light trans-all-linear" type="button">S T A R T</button>
            </div>
        </section>
    </div>
</div>

<script>
const hostname = '/api/v1/noa/';
const popup = document.querySelector(".login-wraper");
const btn_start = document.querySelector(".login-wraper button.noa_app");
const inputs = document.querySelectorAll(".block-pass input");

let arr_pos = [];
let prov = null;

document.onkeydown = function (evt) {
    if (!evt) evt = event;
    if( evt.keyCode === 8 ){ // delete
        max = 15;
        pos = get_cursor_pos() - 1;
        inputs[pos].classList.add("bg-grey-light");
        if( pos >= 0 ){
            if(max == get_cursor_pos()){
                inputs[pos+1].value='';
                inputs[pos+1].classList.add("bg-grey-light");
            }
            inputs[pos].focus();
            console.log(pos);
        }
    }
    if( evt.keyCode  === 13 ){
        btn_start.click();
    }
}
inputs.forEach(function(elem, index){ // move to the next
    elem.onkeyup = function(){
        if( elem.value.length > 0 ){
            inputs[index].classList.remove("bg-grey-light");
            if( inputs[index+1] !== undefined 
            && inputs[index+1].value.length == 0 ){
                inputs[index+1].focus();
            }
        }
    }
});
let get_cursor_pos = function(){
    var pos = -1;
    inputs.forEach(function(elem, index){
        if( elem === document.activeElement ){
            pos = index;
        }
    });
    return pos;
}
btn_start.onclick = function(){
    var password = "";
    inputs.forEach((el, index) => { password += el.value; });
    if( password.length > 3 ){
        $.ajax({
            "url": `${hostname}create`,
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "passwd": password
            }),
            "timeout": 0,
            complete: function(xhr, textStatus) {
                if(xhr.status == 500){}
            }
        }).done(function (response) {
            if( response['status'] == 'OK' ){
                setTimeout(() => {
                    location.reload();
                }, 700);
                return;
            }
        });
    }
}

init = () => {
    popup.classList.add("show");
}; init();
</script>
<style>
    .show{
        display: flex !important;
    }
    .login-wraper{
        width: 100%;
        height: 100vh;
        background-color: rgba(100, 100, 100, 0.5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        justify-content: center;
        align-items: center;
    }
</style>
