<div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
    <div class="max-w-xl mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center pt-8 sm:justify-start sm:pt-0">
            <div class="ml-4 text-lg text-gray-500 uppercase tracking-wider">
                SHIFT + N
            </div>
        </div>
    </div>
</div>
<div class="login-wraper">
    <div class="mt-8 max-w-xl mx-auto flex flex-wrap justify-center items-start font-sans antialiased">
        <section class="mb-8 lg:ml-8 bg-white p-6 rounded shadow-md" style="width: 25rem;">
            <div class="mb-3 leading-normal">
                <div class="desc text-center">
                    <p class="mb-2 text-base">Enter <span char></span>th, <span char></span>th, <span char></span>th, and <span char></span>th positions of your <span class="font-bold">multichannel code<span>.</p>
                </div>
                <div class="m-0 my-8 w-100 text-center">
                    <div class="block-text mb-1">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="0" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="1" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="2" disabled>
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="3" disabled>
                    </div>

                    <div class="block-pass">
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                        <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                    </div>
                </div>

            </div>
            <div class="m-0 w-100 text-center">
                <button class="noa_app m-0 p-3 text-sm font-semibold border-2 border-grey-light rounded hover:bg-grey-light focus:bg-grey-light focus:border-blue trans-all-linear" type="button">Cancel</button>
            </div>

        </section>
    </div>
</div>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
<style>
    html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}a{background-color:transparent}code{font-family:monospace,monospace;font-size:1em}[hidden]{display:none}html{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5}*,:after,:before{box-sizing:border-box;border:0 solid #e2e8f0}a{color:inherit;text-decoration:inherit}code{font-family:Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace}svg,video{display:block;vertical-align:middle}video{max-width:100%;height:auto}.bg-white{--bg-opacity:1;background-color:#fff;background-color:rgba(255,255,255,var(--bg-opacity))}.bg-gray-100{--bg-opacity:1;background-color:#f7fafc;background-color:rgba(247,250,252,var(--bg-opacity))}.border-gray-200{--border-opacity:1;border-color:#edf2f7;border-color:rgba(237,242,247,var(--border-opacity))}.border-gray-400{--border-opacity:1;border-color:#cbd5e0;border-color:rgba(203,213,224,var(--border-opacity))}.border-t{border-top-width:1px}.border-r{border-right-width:1px}.flex{display:flex}.grid{display:grid}.hidden{display:none}.items-center{align-items:center}.justify-center{justify-content:center}.font-semibold{font-weight:600}.h-5{height:1.25rem}.h-8{height:2rem}.h-16{height:4rem}.text-sm{font-size:.875rem}.text-lg{font-size:2.125rem}.leading-7{line-height:1.75rem}.mx-auto{margin-left:auto;margin-right:auto}.ml-1{margin-left:.25rem}.mt-2{margin-top:.5rem}.mr-2{margin-right:.5rem}.ml-2{margin-left:.5rem}.mt-4{margin-top:1rem}.ml-4{margin-left:1rem}.mt-8{margin-top:2rem}.ml-12{margin-left:3rem}.-mt-px{margin-top:-1px}.max-w-xl{max-width:36rem}.max-w-6xl{max-width:72rem}.min-h-screen{min-height:100vh}.overflow-hidden{overflow:hidden}.p-6{padding:1.5rem}.py-4{padding-top:1rem;padding-bottom:1rem}.px-4{padding-left:1rem;padding-right:1rem}.px-6{padding-left:1.5rem;padding-right:1.5rem}.pt-8{padding-top:2rem}.fixed{position:fixed}.relative{position:relative}.top-0{top:0}.right-0{right:0}.shadow{box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)}.text-center{text-align:center}.text-gray-200{--text-opacity:1;color:#edf2f7;color:rgba(237,242,247,var(--text-opacity))}.text-gray-300{--text-opacity:1;color:#e2e8f0;color:rgba(226,232,240,var(--text-opacity))}.text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203,213,224,var(--text-opacity))}.text-gray-500{--text-opacity:1;color:#a0aec0;color:rgba(160,174,192,var(--text-opacity))}.text-gray-600{--text-opacity:1;color:#718096;color:rgba(113,128,150,var(--text-opacity))}.text-gray-700{--text-opacity:1;color:#4a5568;color:rgba(74,85,104,var(--text-opacity))}.text-gray-900{--text-opacity:1;color:#1a202c;color:rgba(26,32,44,var(--text-opacity))}.uppercase{text-transform:uppercase}.underline{text-decoration:underline}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.tracking-wider{letter-spacing:.05em}.w-5{width:1.25rem}.w-8{width:2rem}.w-auto{width:auto}.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}@-webkit-keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes  spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@-webkit-keyframes ping{0%{transform:scale(1);opacity:1}75%,to{transform:scale(2);opacity:0}}@keyframes  ping{0%{transform:scale(1);opacity:1}75%,to{transform:scale(2);opacity:0}}@-webkit-keyframes pulse{0%,to{opacity:1}50%{opacity:.5}}@keyframes  pulse{0%,to{opacity:1}50%{opacity:.5}}@-webkit-keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:translateY(0);-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}@keyframes  bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:translateY(0);-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}@media (min-width:640px){.sm\:rounded-lg{border-radius:.5rem}.sm\:block{display:block}.sm\:items-center{align-items:center}.sm\:justify-start{justify-content:flex-start}.sm\:justify-between{justify-content:space-between}.sm\:h-20{height:5rem}.sm\:ml-0{margin-left:0}.sm\:px-6{padding-left:1.5rem;padding-right:1.5rem}.sm\:pt-0{padding-top:0}.sm\:text-left{text-align:left}.sm\:text-right{text-align:right}}@media (min-width:768px){.md\:border-t-0{border-top-width:0}.md\:border-l{border-left-width:1px}.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}}@media (min-width:1024px){.lg\:px-8{padding-left:2rem;padding-right:2rem}}@media (prefers-color-scheme:dark){.dark\:bg-gray-800{--bg-opacity:1;background-color:#2d3748;background-color:rgba(45,55,72,var(--bg-opacity))}.dark\:bg-gray-900{--bg-opacity:1;background-color:#1a202c;background-color:rgba(26,32,44,var(--bg-opacity))}.dark\:border-gray-700{--border-opacity:1;border-color:#4a5568;border-color:rgba(74,85,104,var(--border-opacity))}.dark\:text-white{--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}.dark\:text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203,213,224,var(--text-opacity))}}
</style>


<script>
(function(){
    const popup = document.querySelector(".login-wraper");
    const btn_noa_cancel = document.querySelector(".login-wraper button.noa_app");
    const inputs = document.querySelectorAll(".block-pass input");
    let arr_pos = [];
    let prov = null;
    var hostname = 'https://agostinhoramos.ddns.net:1780/api/v1/noa/';
    const set_cookie = function(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    const get_cookie = function(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    document.onkeydown = function (evt) {
        if (!evt) evt = event;
        if (evt.shiftKey && evt.keyCode === 78) {
            on_open_windows();
        }
        if(evt.keyCode === 27) {
            on_close_windows();
        }
        if( evt.keyCode === 8 ){ // delete
            pos = get_cursor_pos() - 1;
            if( pos >= 0 ){
                inputs[pos].focus()
            }
        }
    }
    inputs.forEach(function(elem, index){
        elem.onkeyup = function(){
            if( elem.value.length > 0 ){
                if( inputs[index+1] !== undefined ){
                    inputs[index+1].focus();
                }
                if( inputs.length-1 == index ){
                    var validated=true;
                    inputs.forEach(function(e, i){
                        if( e.value.length < 1 ){
                            validated=false;
                            inputs[i].focus();
                        }
                    });
                    if( validated ){
                        on_close_windows();
                        var arr = [];
                        inputs.forEach(function(e){
                            if( e.value.length > 0 ){
                                arr.push(e.value);
                            }
                        });
                        send_password(arr);
                    }else{
                        console.log("Not verified!");
                    }
                }
            }
        }
    });
    btn_noa_cancel.onclick = function(){
        on_close_windows();
    }
    let get_cursor_pos = function(){
        var pos = -1;
        inputs.forEach(function(elem, index){
            if( elem === document.activeElement ){
                pos = index;
            }
        });
        return pos;
    }
    let on_open_windows = function(){
        $.ajax({
            "url": `${hostname}request_auth`,
            "method": "GET",
            "headers": {
                "Content-Type": "application/json",
                "Auth-key": get_cookie('auth-key')
            },
            "timeout": 0,
            complete: function(xhr, textStatus) {
                if(xhr.status == 500){}
            }
        }).done(function (response) {
            if( response['auth']['status'] == 'OK' ){
                setTimeout(() => {
                    location.href='/@/noa';
                }, 700);
                return;
            }

            arr_pos = response['pos'];
            prov = response['prov'];
            const desc = document.querySelectorAll("div.desc span[char]");
            const texts = document.querySelectorAll(".block-text input");
            texts.forEach(function(text, index){
                text.value=arr_pos[index];
            });
            desc.forEach(function(text, index){
                text.innerText=arr_pos[index];
            });
            popup.classList.add("show");
            inputs[0].focus();
            setTimeout(() => {
                inputs.forEach(function(e){
                    e.value='';
                });
            }, 20);
        });
    }
    let on_close_windows = function(){
        popup.classList.remove("show");
        setTimeout(() => {
            inputs.forEach(function(e){
                e.value='';
            });
        }, 20);
    }
    let send_password = function(arr){
        console.log(arr);

        $.ajax({
            "url": `${hostname}auth`,
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                pos: arr_pos,
                key: arr,
                prov: prov
            }),
            complete: function(xhr, textStatus) {}
        }).done(function (response) {
            if( response['auth']['status'] == 'OK' ){
                set_cookie('auth-key', response['auth_key'], 30);
                setTimeout(() => {
                    location.href='/@/noa';
                }, 700);
            }
        });
    }
})()
</script>
<style>
    .show{
        display: flex !important;
    }
    .login-wraper{
        width: 100%;
        height: 100vh;
        background-color: rgba(100, 100, 100, 0.5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        justify-content: center;
        align-items: center;
    }
    /* Added utilities */
    .focus\:border-blue:focus {
    border-color: #3490DC;
    }

    .focus\:bg-grey-light:focus {
    background-color: #dae1e7;
    }

    .trans-all-linear {
    transition: all 150ms linear;
    }

    .controller{
        position: relative;
        margin-top: 50px;
        text-align: center;
    }
    .myButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
        background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
        background-color:#ededed;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#777777;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    }
    .myButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        background-color:#dfdfdf;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
</style>
