<div class="main" >
    <div class="form-group" >
        <div class="wrapper">
            <input list="list" type="text" class="form-control" value="@" id="tagText" >
            <textarea class="form-control" id="Typedtext" maxlength="999999" style="resize: none;"></textarea>
        </div>
        <datalist id="list" ></datalist>
     </div>
     <link rel="stylesheet" type="text/css" href="/static/style.css" >

    <div class="login-wraper">
        <div class="mt-8 max-w-xl mx-auto flex flex-wrap justify-center items-start font-sans antialiased">
            <section class="mb-8 lg:ml-8 bg-white p-6 rounded shadow-md" style="width: 25rem;">
                <div class="mb-3 leading-normal">
                    <div class="desc text-center">
                        <p class="mb-2 text-base">Enter <span char></span>th, <span char></span>th, <span char></span>th, and <span char></span>th positions of your <span class="font-bold">multichannel code<span>.</p>
                    </div>
                    <div class="m-0 my-8 w-100 text-center">
                        <div class="block-text mb-1">
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="0" disabled>
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="1" disabled>
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="2" disabled>
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark trans-all-linear text-center" name="password" maxlength="1" type="text" style="resize:horizontal; width:35px" value="3" disabled>
                        </div>
    
                        <div class="block-pass">
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                            <input class="m-0 p-2 border border-grey-light rounded text-sm font-semibold text-grey-dark border-green focus:border-blue trans-all-linear text-center" name="password" maxlength="1" onfocus="value=''" type="password" style="resize:horizontal; width:35px" >
                        </div>
                    </div>
    
                </div>
                <div class="m-0 w-100 text-center">
                    <button class="noa_app m-0 p-3 text-sm font-semibold border-2 border-grey-light rounded hover:bg-grey-light focus:bg-grey-light focus:border-blue trans-all-linear" type="button">Cancel</button>
                </div>
    
            </section>
        </div>
    </div>

 </div>
 <script src="/static/main.js"></script>