<html lang="en-en">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="theme-color" content="#23aaf2">
       <title>NOA APP</title>
       <script src="/vendor/jquery/jquery.js"></script>
       <link rel="manifest" href="/pwa/manifest.json">
       <link rel="apple-touch-icon" href="/img/noa.png">
       <link rel="icon" type="image/x-icon" href="/img/noa.png"/>
    </head>
    <body>
    <%- body %>
    
    <script src="/pwa/index.js"></script>
    <link href="/vendor/tailwindcss/index.css" rel="stylesheet">
    </body>
 </html>
